<body>
  <div class="conatiner">
    <h3 style="text-align: center;font-size: 16px;
    background: none repeat scroll 0 0 #007CB9;
    padding: 10px 0 8px 10px;
    color: #FFFFFF;
    font-family: verdana;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    margin: 0;">Welcome to IRM Portal</h3>
    <div class="logout" style="float: right;">
      <a [routerLink]="[ '/' ]" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out" style="float: left;"></span> Log out
      </a>
    </div>
   
  </div>

  <div class="home-component form-container" style="margin: 20px 20px 20px 20px ;">
    <div class="row" style="height: 350px;overflow-x: hidden;overflow-y: scroll;">

      <div class="col-6">
        <form>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Policy Number</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Policy source Branch</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Simultananeous policies</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Payee Client ID</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Assiginee Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">All clearance</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Funds transfer request</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">KYC documents given</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row" style="display: none;">
            <label class="col-sm-4 col-form-label">Policy Number</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">SI/ECS Bank account</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="col-6">
        <form>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">PAN NO</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Owner Client ID</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Owner Client Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Payout Branch</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Payout Amount</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bank Account No.</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">NRE/Split payment</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Walkin Customer</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Policy Status</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row" style="display: none;">
            <label class="col-sm-4 col-form-label">Service request details</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name Change</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Address Change</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bank a/c Change</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>



</body>