 .alert-success, .alert-info,  .alert-warning,  .alert-danger {
    -webkit-border-radius: 0;       
    -moz-border-radius: 0;  
    -ms-border-radius: 0;      
    border-radius: 0;    
    -webkit-box-shadow: none;       
    -moz-box-shadow: none;  
    -ms-box-shadow: none;      
    box-shadow: none;       
    border: none;    
    color: #fff !important;       
    padding: 15px;       
    margin-bottom: 20px;  
    color: white;
    text-align: left;     
   }
    .alert-success {
    background-color: #2b982b; 
    color: white;
  
    }
    .alert-info {
    background-color: #3d44ac; 
  
    }
    .alert-warning {
    background-color: #ff6c2c !important; 
   
    }
    .alert-danger {
    background-color: #fb483a !important; 
   
    }

   