<div class="list" *ngFor="let a of loaders">
  <div class="small" *ngIf="a.size == 'small'">
    <div class="loader-main" *ngIf="a.size == 'small'">
      <div class="size"> {{a.size}}</div>
      <div class="loader" *ngIf="a.size == 'small'"></div>
      <div class="loader-message" *ngIf="a.size == 'small'"> Please wait..</div>
    </div>
  </div>
  <div class="medium" *ngIf="a.size == 'medium'">
    <div class="loader-main" *ngIf="a.size == 'medium'">
      <div class="size"> {{a.size}}</div>
      <div class="loader" *ngIf="a.size == 'medium'"></div>
      <div class="loader-message" *ngIf="a.size == 'medium'"> Please wait..</div>
    </div>
  </div>
  <div class="large" *ngIf="a.size == 'large'">
    <div class="loader-main" *ngIf="a.size == 'large'">
      <div class="size"> {{a.size}}</div>
      <div class="loader" *ngIf="a.size == 'large'"></div>
      <div class="loader-message" *ngIf="a.size == 'large'"> Please wait..</div>
    </div>
  </div>
</div>





<router-outlet></router-outlet>